<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biddingmate.biddinggo.bid.mapper.BidMapper">
    <resultMap id="BidMap" type="Bid">
        <id property="id" column="id"/>
        <result property="auctionId" column="auction_id"/>
        <result property="bidderId" column="bidder_id"/>
        <result property="amount" column="amount"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insert" parameterType="Bid" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bid(
            auction_id,
            bidder_id,
            amount,
            created_at
        ) VALUES (
                     #{auctionId},
                     #{bidderId},
                     #{amount},
                     #{createdAt}
                 )
    </insert>

    <select id="getLastBidAmountByMemberId" resultType="long">
        SELECT amount
        FROM bid
        WHERE auction_id = #{auctionId}
          AND bidder_id = #{bidderId}
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <select id="getVickreyBid" resultMap="BidMap">
        SELECT id,
               auction_id,
               bidder_id,
               amount,
               created_at
        FROM bid
        WHERE auction_id = #{auctionId}
        ORDER BY amount DESC, created_at
        LIMIT 1 OFFSET 1
    </select>

    <select id="getBidCount" resultType="long">
        SELECT COUNT(*)
        FROM bid
        WHERE auction_id = #{auctionId};
    </select>

</mapper>
