<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biddingmate.biddinggo.bid.mapper.BidMapper">
    <resultMap id="BidMap" type="Bid">
        <id property="id" column="id"/>
        <result property="auctionId" column="auction_id"/>
        <result property="bidderId" column="bidder_id"/>
        <result property="amount" column="amount"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insert" parameterType="Bid" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bid(
            auction_id,
            bidder_id,
            amount,
            created_at
        ) VALUES (
                     #{auctionId},
                     #{bidderId},
                     #{amount},
                     #{createdAt}
                 )
    </insert>

    <select id="getLastBidAmountByMemberId" resultType="long">
        SELECT amount
        FROM bid
        WHERE auction_id = #{auctionId}
          AND bidder_id = #{bidderId}
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <select id="getVickreyBid" resultMap="BidMap">
        SELECT id,
               auction_id,
               bidder_id,
               amount,
               created_at
        FROM bid
        WHERE auction_id = #{auctionId}
        ORDER BY amount DESC, created_at
        LIMIT 1 OFFSET 1
    </select>

    <select id="getBidCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM bid
        <if test="auctionId != null">WHERE auction_id = #{auctionId}</if>
        <if test="bidderId != null">WHERE bidder_id = #{bidderId}</if>
    </select>

    <select id="getBidsByAuctionId" parameterType="map" resultType="Bid">
        SELECT id,
               auction_id AS auctionId,
               bidder_id AS bidderId,
               amount,
               created_at AS createdAt
        FROM bid
        WHERE auction_id = #{auctionId}
        ORDER BY created_at ${order}
    </select>

    <select id="findBidAuctionsByMemberId" parameterType="map" resultType="Auction">
        SELECT
            a.id AS id,
            a.item_id AS itemId,
            a.winner_id AS winnerId,
            a.seller_id AS sellerId,
            a.type AS type,
            a.inspection_yn AS inspectionYn,
            a.status AS status,
            a.start_price AS startPrice,
            a.bid_unit AS bidUnit,
            a.vickrey_price AS vickreyPrice,
            a.bid_count AS bidCount,
            a.buy_now_price AS buyNowPrice,
            a.wish_count AS wishCount,
            a.start_date AS startDate,
            a.end_date AS endDate,
            a.cancel_date AS cancelDate,
            a.winner_price AS winnerPrice,
            a.created_at AS createdAt
        FROM auction a
                 INNER JOIN bid b
                            ON a.id = b.auction_id AND b.bidder_id = #{memberId};
    </select>

</mapper>
