<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biddingmate.biddinggo.auctioninquiry.mapper.AuctionInquiryMapper">

    <insert id="insert" parameterType="com.biddingmate.biddinggo.auctioninquiry.model.AuctionInquiry"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO auction_inquiry (
            auction_id,
            writer_id,
            answerer_id,
            content,
            created_at
        ) VALUES (
                     #{auctionId},
                     #{writerId},
                     #{answererId},
                     #{content},
                     #{createdAt}
                 )
    </insert>

    <select id="findInquiryById" parameterType="long" resultType="com.biddingmate.biddinggo.auctioninquiry.model.AuctionInquiry">
        SELECT
            id,
            auction_id AS auctionId,
            writer_id AS writerId,
            answerer_id AS answererId,
            content,
            answer,
            status,
            answered_at AS answeredAt,
            created_at AS createdAt
        FROM auction_inquiry
        WHERE id = #{id}
    </select>

    <update id="updateAnswer" parameterType="com.biddingmate.biddinggo.auctioninquiry.model.AuctionInquiry">
        UPDATE auction_inquiry
        SET answer      = #{answer},
            answered_at = #{answeredAt},
            status      = #{status}
        WHERE id = #{id}
          AND answer IS NULL </update>
</mapper>