<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biddingmate.biddinggo.auctioninquiry.mapper.AuctionInquiryMapper">

    <insert id="insert" parameterType="com.biddingmate.biddinggo.auctioninquiry.model.AuctionInquiry"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO auction_inquiry (
            auction_id,
            writer_id,
            answerer_id,
            content,
            created_at
        ) VALUES (
                     #{auctionId},
                     #{writerId},
                     #{answererId},
                     #{content},
                     #{createdAt}
                 )
    </insert>

</mapper>