<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biddingmate.biddinggo.member.mapper.MemberMapper">


    <select id="getPointById" resultType="long">
        SELECT point
        FROM member
        WHERE id = #{id}
    </select>

    <update id="addPoint" parameterType="map">
        UPDATE
            member
        SET
            point = point + #{amount}
        WHERE
            id = #{id};
    </update>

    <select id="findDashboardInfoById" parameterType="long" resultType="MemberDashboardResponse">
        SELECT  m.nickname AS nickname,
                m.grade AS grade,
                m.point AS POINT
        FROM member m
        WHERE m.id = #{memberId}
    </select>

    <select id="findWonItemsById" parameterType="long" resultType="MemberWonItemResponse">
        SELECT  ii.url AS imageUrl,                     -- 상품 대표 이미지 URL
                ai.name AS itemName,                    -- 상품 이름
                wd.delivery_status AS deliveryStatus    -- 배송 상태
        FROM winner_deal wd

        -- 낙찰된 경매 정보 연결
        INNER JOIN auction a
        ON wd.auction_id = a.id

        -- 경매에 연결된 상품 정보
        INNER JOIN auction_item ai
        ON a.item_id = ai.id

        -- 상품 이미지
        LEFT JOIN item_image ii
        ON ii.item_id = ai.id
        AND ii.`display_order` = 1              -- 대표 이미지 1장만

        WHERE wd.winner_id = #{memberId}
        AND wd.status IN ('PAID', 'CONFIRMED')  -- 배송 취소 상태 제외
        ORDER BY wd.created_at DESC             -- 최신순
        LIMIT 2
    </select>

    <select id="findBiddingItemsById" parameterType="long" resultType="MemberBiddingItemResponse">
        SELECT
            ii.url AS imageUrl,                 -- 상품 대표 이미지 URL
            ai.name AS itemName,                -- 상품 이름
            a.vickrey_price AS currentPrice,    -- 차순위 가격
            mb.myBidPrice AS myBidPrice,        -- 내가 해당 경매에서 입찰한 최고 금액
            a.end_date AS endDate               -- 경매 종료일
        FROM (                                  -- 한 경매에 여러 번 입찰 가능, MAX()로 "내 최고 입찰가" 뽑기
                 SELECT
                     b.auction_id,
                     MAX(b.amount) AS myBidPrice
                 FROM bid b
                 WHERE b.bidder_id = #{memberId}       -- 경매에 참여한 사용자 id
                 GROUP BY b.auction_id
             ) mb

                 INNER JOIN auction a
                            ON a.id = mb.auction_id

                 INNER JOIN auction_item ai
                            ON a.item_id = ai.id

                 LEFT JOIN item_image ii
                           ON ii.item_id = ai.id
                               AND ii.`display_order` = 1

        WHERE a.status = 'ON_GOING'
        ORDER BY a.end_date ASC
        LIMIT 3
    </select>

    <select id="findById" parameterType="long" resultType="Member">
        SELECT
            id,
            name,
            nickname,
            email,
            image_url AS imageUrl,
            point,
            bank_code AS bankCode,
            bank_account AS bankAccount,
            grade,
            role,
            status,
            last_change_nick AS lastChangeNick,
            created_at AS createdAt
        FROM member
        WHERE id = #{id}
    </select>

    <update id="usePoint" parameterType="map">
        UPDATE
            member
        SET
            point = point - #{amount}
        WHERE
            id = #{id} AND
            point >= #{amount};
    </update>

    <select id="findProfileById" parameterType="long" resultType="MemberProfileResponse">
        SELECT
            m.image_url AS imageUrl,
            m.name AS name,
            m.nickname AS nickname,
            m.email AS email,

            a.zipcode AS zipcode,
            a.address AS address,
            a.detail_address AS detailAddress,

            m.bank_code AS bankCode,
            m.bank_account AS bankAccount

        FROM member m
                 LEFT JOIN address a ON m.id = a.member_id
        WHERE m.id = #{memberId}
    </select>
  
<!-- auth 아아디조회 -->
    <select id="selectMemberByUsername" parameterType="String" resultType="Member">

        SELECT
            id,
            username,
            password,
            name,
            nickname,
            email,
            image_url AS imageUrl,
            point,
            bank_code AS bankCode,
            bank_account AS bankAccount,
            grade,
            role,
            status,
            last_change_nick AS lastChangeNick,
            created_at AS createdAt
        FROM member
        WHERE username = #{username}

    </select>

    <!-- auth 이메일조회 -->
    <select id="selectMemberByEmail" parameterType="string" resultType="Member">
        SELECT
            id,
            username,
            password,
            name,
            nickname,
            email,
            image_url AS imageUrl,
            point,
            bank_code AS bankCode,
            bank_account AS bankAccount,
            grade,
            role,
            status,
            last_change_nick AS lastChangeNick,
            created_at AS createdAt
        FROM member
        WHERE email = #{email}
    </select>

    <!-- auth 닉네임조회 -->
    <select id="selectMemberByNickname" parameterType="string" resultType="Member">
        SELECT
            id,
            username,
            password,
            name,
            nickname,
            email,
            image_url AS imageUrl,
            point,
            bank_code AS bankCode,
            bank_account AS bankAccount,
            grade,
            role,
            status,
            last_change_nick AS lastChangeNick,
            created_at AS createdAt
        FROM member
        WHERE nickname = #{nickname}
    </select>

    <!-- auth 회원가입 -->
    <insert id="insert" parameterType="Member">
        INSERT INTO member (

            username,
            password,
            name,
            nickname,
            email,
            role,
            created_at

        ) VALUES (
            #{username},
            #{password},
            #{name},
            #{nickname},
            #{email},
            #{role},
            NOW()
                 )
    </insert>

    <select id="countByNickname" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE nickname =#{nickname}
    </select>

    <update id="updateProfile" parameterType="map">
        UPDATE member
        <set>
            <if test="request.nickname != null and request.nickname != ''">
                nickname = #{request.nickname},
                last_change_nick = NOW(),
            </if>
            <if test="request.imageUrl != null and request.imageUrl != ''">
                image_url = #{request.imageUrl},
            </if>
            <if test="request.bankCode != null and request.bankCode != ''">
                bank_code = #{request.bankCode},
            </if>
            <if test="request.bankAccount != null and request.bankAccount != ''">
                bank_account = #{request.bankAccount},
            </if>
        </set>
        WHERE id = #{memberId}
    </update>

    <update id="deleteMember" parameterType="long">
        UPDATE member
        SET status = 'DELETED'
        WHERE id = #{memberId}
    </update>
  
</mapper>