<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biddingmate.biddinggo.member.mapper.MemberMapper">

    <select id="getPointById" resultType="long">
        SELECT point
        FROM member
        WHERE id = #{id}
    </select>

    <update id="addPoint" parameterType="map">
        UPDATE
            member
        SET
            point = point + #{amount}
        WHERE
            id = #{id};
    </update>

    <update id="usePoint" parameterType="map">
        UPDATE
            member
        SET
            point = point - #{amount}
        WHERE
            id = #{id} AND
            point >= #{amount};
    </update>

</mapper>