<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biddingmate.biddinggo.admininquiry.mapper.AdminInquiryMapper">
    <insert id="insert" parameterType="AdminInquiry" keyProperty="id" useGeneratedKeys="true" >
        INSERT INTO admin_inquiry (
            writer_id,
            admin_id,
            category,
            content,
            answer,
            answered_at,
            created_at
        ) VALUES (
                     #{writerId},
                     #{adminId},
                     #{category},
                     #{content},
                     #{answer},
                     #{answeredAt},
                     #{createdAt}
                 )
    </insert>

    <!-- resultMap 정의 -->
    <resultMap id="AdminInquiryViewMap" type="AdminInquiryView">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="category" column="category"/>
        <result property="answer" column="answer"/>
        <result property="answeredAt" column="answered_at"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <!-- 관리자 전체 조회 -->
    <select id="findAdminInquiry" resultMap="AdminInquiryViewMap">
        SELECT ai.id,
               m.nickname,
               ai.category,
               ai.answer,
               ai.answered_at,
               ai.created_at
        FROM admin_inquiry ai
        LEFT JOIN member m ON ai.writer_id = m.id
        ORDER BY ai.created_at ${order}
    </select>

    <!-- 사용자 본인 조회 -->
    <select id="findAdminInquiryOfMe" parameterType="map" resultMap="AdminInquiryViewMap">
        SELECT ai.id,
               m.nickname,
               ai.category,
               ai.answer,
               ai.answered_at,
               ai.created_at
        FROM admin_inquiry ai
        LEFT JOIN member m ON ai.writer_id = m.id
        WHERE ai.writer_id = #{memberId}
        ORDER BY ai.created_at ${order}
    </select>

    <!-- 관리자 전체 count -->
    <select id="getAdminInquiryTotal" resultType="_int">
        SELECT COUNT(*) FROM admin_inquiry
    </select>

    <!-- 사용자 본인 count -->
    <select id="getAdminInquiryTotalOfMe" parameterType="long" resultType="_int">
        SELECT COUNT(*)
        FROM admin_inquiry
        WHERE writer_id = #{memberId}
    </select>
</mapper>
